
<br/>
<br/>
<br/>

<div class="container eternity-form dark">
  <div class="registration-form-section" style="max-width:90%">
    <div class="section-title reg-header animated fadeInDown">
      <h3 style="color:#3498db">Top Replays and Casts</h3>

    </div>
    <div class="clearfix">
      <div class="col-md-8 registration-left-section  animated fadeInUp">
        <div class="reg-content">


          <button style="margin-bottom:5px; background-color:coral" type="button" class="btn" id="all" onclick="ajax_query('all')">All
          </button>
          <button style="margin-bottom:5px; background-color:darkorange" type="button" class="btn" id="last7days" onclick="ajax_query('last7days')">Last 7 Days
          </button>
          <button style="margin-bottom:5px; background-color:orange" type="button" class="btn" id="last30days" onclick="ajax_query('last30days')">Last 30 Days
          </button>


          <div class="textbox-wrap" style="padding-left:5%;padding-top:0%;padding-right:3%">
            <h4 class="h3headerTop" id="castTag" style="color:#3498db" value="List Is Empty"></h4>
            <div id="dummy"><div class="windows8">
              <div class="wBall" id="wBall_1">
                <div class="wInnerBall">
                </div>
              </div>
              <div class="wBall" id="wBall_2">
                <div class="wInnerBall">
                </div>
              </div>
              <div class="wBall" id="wBall_3">
                <div class="wInnerBall">
                </div>
              </div>
              <div class="wBall" id="wBall_4">
                <div class="wInnerBall">
                </div>
              </div>
              <div class="wBall" id="wBall_5">
                <div class="wInnerBall">
                </div>
              </div>
            </div></div>
            <br/>
            <div align='center'>
            <button type="button" class="btn" id="loadMoreBtn" style="display:none" onclick="loadMore_ajax()">Load More
            </button>
            </div>
          </div>
        </div>
      </div>
      <%= render 'right' %>
    </div>
  </div>

</div>
<input id="dataType" type="hidden" value="all" />

<script>

  $(document).ready(function(){

    ajax_query("all");
      if ($('.countTotal').last().val() >= 15)
      {
          $('#loadMoreBtn').attr('style','display:block');
      }
  })

  function loadMore_ajax() {
      if($(window).scrollTop() == $(document).height() - $(window).height()) {
          lastCount = $('.countTotal').last().val();
          dataType = $('#dataType').last().val();
          var msg = {"lastCount":lastCount,"dataType":dataType};
          $.ajax({
              type: 'POST',
              url: '/top',
              dataType: 'html',
              data: msg,
              success: function(response) {
                  $('#dummy').append(response);
                  if ($('.countTotal').last().val() < 15)
                  {
                      $('#loadMoreBtn').attr('style','display:none');
                  }
                  $('.countTotal').val(parseInt($('.countTotal').last().val())+parseInt(lastCount));
              }
          });
      }
  }

</script>





