<div style="margin-top:10px">
  <br/>
  <h4>TOP</h4>
  <% cast_query = Cast.includes(:votes).order("cached_votes_score").reverse_order %>
  <%= render 'query', :cast_query => cast_query %>

</div>


<script>
    ajax_voting = function(vote,cast){
        var msg = {Cast:{"id":cast,"vote":vote}};
        $.ajax({
            type: 'POST',
            url: '/vote',
            dataType: 'json',
            data: msg,

            success: function(votevalue){
                total_id = "#total" + cast.toString()

                if (vote=="up")
                {
                    $( "#downvote" + cast.toString()).removeClass( "btn-danger btn-success btn-info")
                    $( "#upvote" + cast.toString()).removeClass( "btn-success btn-info").addClass( "btn-success")
                }
                else
                {
                    $( "#upvote" + cast ).removeClass( "btn-success btn-info")
                    $( "#downvote" + cast ).removeClass( "btn-danger btn-info").addClass( "btn-danger")
                }
                if (votevalue < 0)
                {
                    $(total_id).removeAttr("style").attr("style","color:red");
                }
                else {
                    $(total_id).removeAttr("style").attr("style","color:green");
                }
                var votevalue_abs = Math.abs(votevalue)
                $(total_id).html(votevalue_abs)

            }
        });
    }
</script>