/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.form-group {
  margin-left: auto;
  margin-right: auto;
}
.leftMain {
  font-size-adjust: 1.2;
}

.img{
  display:inline;

}

.cast-view{
  padding: 5px;
  background: gray;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.2);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #4C4C4C, 2px 1px 6px 4px rgba(10, 10, 0, 0.3);
  font-weight: normal;

}
.left{
  border-collapse:separate;
  border-spacing:10px 50px;
  padding: 20px;
  background: gray;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.2);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #4C4C4C, 2px 1px 6px 4px rgba(10, 10, 0, 0.3);
  font-weight: normal;
}
.right,{
  padding: 20px;
  background: gray;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.2);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #4C4C4C, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
}
body{
  background: url('league_logo.jpg');
  background-size: cover;
}

#spanWidth{
  color:#ffffff;
  background: gray;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.2);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #3D3D3D, 2px 1px 6px 4px rgba(10, 10, 0, 0.3);
  font-weight: normal;
}
#matchTypeCSS {}
#redTeamCSS {color:red; font-weight:bold;}
#blueTeamCSS {color:dodgerblue; font-weight:bold;}
#bestOfCSS {color:green; font-weight:bold;}
#tournamentNameCSS {color:lightskyblue;}
#casterCSS {}
.voteGreen{
  color:green;
}
.voteRed{
  color:red;
}


.left {
  margin-top: 20px;
}

.right {
  border-left: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
  padding-bottom: 20px;
}


#tag_cloud a:link {text-decoration:none;}
#tag_cloud a:visited {text-decoration:none;}
#tag_cloud a:hover {text-decoration:none; background:none; color:gray}
#tag_cloud a:active {text-decoration:none;}
#tag_cloud {
  line-height: 1.15em;


  .s { font-size: 0.5em; color: lightblue}
  .m { font-size: 0.8em; color: dodgerblue}
  .l { font-size: 1.1em; color: lightsteelblue}

}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.form-inputs {
  margin-bottom:150px;
}

.voteCount {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}
