// import the CSS framework
@import "bootstrap";
.dropdown-menu {
  background-color: lightgray;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent; }

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color:white;
}

.btn-default {
  color: #333333;
  border: none;
}
.navbar-default .navbar-nav > li > a:hover
{
  color: white;
  background: transparent;
}
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent; }

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
.panel {
  background: black;
}
// make all images responsive by default
img {
  @extend .img-responsive;
  display:inline;
  }

// use mixins to create semantic classes
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
