<h3 style="text-align:center">Editing cast</h3>
<% cast = @cast %>
<div class="container eternity-form dark">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="reg-content">
<%= render 'editForm', :cast => cast %>
      </div>
  </div>
  <div class="col-mid-2"></div>
</div>
    </div>
