
<div class="row">
  <div style="margin-top:30px" class="col-md-6 left">
  <br/>
<h4>SEARCHES</h4>

<%= render 'home/query', :cast_query => @casts %>
</div>
  <div style="margin-top:10px" class="col-md-2 center">
    </div>
<%= render 'home/right'%>
</div>




