
<br/>
<br/>
<br/>

<div class="container eternity-form dark">
  <div class="registration-form-section" style="max-width:90%">
    <div class="section-title reg-header animated fadeInDown">
      <h3>Search Results</h3>
    </div>
    <div class="clearfix">
      <div class="col-md-8 registration-left-section animated fadeInUp">
        <div class="reg-content">
          <div class="textbox-wrap" style="padding-left:5%;padding-top:5%;padding-right:3%">
            <h4 class="h3header" style="color:#34dbce;">Search Results</h4>
            <%= render 'home/query'%>
          </div>
        </div>
      </div>
      <%= render 'home/right' %>
  </div>
    </div>

</div>
<br/>
<br/>
<br/>








