<body style="background-color: #3498db">
<br/>
<br/>
<br/>

<div class="container eternity-form dark">
  <div class="registration-form-section" style="max-width:90%">
    <div class="section-title reg-header animated fadeInDown">
      <h3 style="color:#3498db">Tag Search</h3>

    </div>
    <div class="clearfix">
      <div class="col-md-8 registration-left-section  animated fadeInUp">
        <div class="reg-content">
          <div class="textbox-wrap">
            <h4 class="h3headerTop" style="color:#3498db">Tags</h4>
            <%= render 'home/query', :cast_query => @casts %>
          </div>
        </div>
      </div>
      <%= render 'home/right' %>
    </div>
  </div>

</div>
<br/>
<br/>
<br/>

</body>




